<h1>It's Burger Time!</h1>


<h3>Which Burger will you eat?</h3>

<h4>Available Burgers</h4>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<h4>Devoured Burgers</h4>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger devoured=true}}
        {{/if}}
    {{/each}}
</ul>


<h4>Add a Burger!</h4>

<form id='newBurger'>
    <div class="form-group">
        <label for="burg">Burger Name: </label>
        <input type="text" id="burg" name="name" placeholder="New Burger">
    </div>

    <button type="submit" id="add-burger">Submit</button>
</form>
